/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('http://imgur.com/mp4RjNl.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  background-color: #f8f8f8;

}

